.graph{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    /* padding-left: 230px; */
}
.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: var(--color-warning);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow:0rem 2rem 3rem var(--color-light);
    
}
.content h1{
    font-size: 1.6rem;
    color: var(--color-dark);
}
.btn-store{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}
.btn-store h2{
    margin-right: 3rem;
    /* justify-content: center; */
    display: flex;
    align-items: center;
}
/* .buy-amount{
    display: flex;
    width: 100%;
    flex-direction: column;
} */
.buy-amount input[type=number] {
    /* width: 100%; */
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: var(--color-warning);
    border: 1px solid #504d4d;
  }

.btn-buy{
    background-color:rgb(105, 237, 17);
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
    margin-left: 1.5rem;
    cursor: pointer;
    /* color: #d3d3d3; */
}
.btn-sell{
    background-color:rgb(250, 64, 7);
    padding: 1rem;
    border-radius: 5px;
    width: 100px;
    margin-left: 1.5rem;
    cursor: pointer;
    /* color: var(--color-warning); */
}

.rank {
    margin: .5 0;
}

.rank-btn {
    border: 1px solid #6900ff;
    box-shadow: 0px 0px 8px #6900ff;
    background-color: #6900ff;
    border-radius: 8px;
    padding: .2rem;
    color: var(--color-warning);
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

.content th {
    background-color: var(--color-warning)
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}
