PORT=8000
NODE_ENV=development
MONGODB_URI=your_mongodb_connection_string
SECRET_KEY=your_jwt_secret_key
COINGECKO_API_KEY=secret_key

#dev Environment
DEV_CORS_ORIGIN=http://localhost:3000
#Production
PROD_CORS_ORIGIN=production_frontend_uri
