.banner-landPage {
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  height: 80vh;
  background-color: rgb(211, 220, 222);
}
.banner-content {
  width: 100%;
  /* background-color: rgba(245, 245, 245, 1); */
  display: inline-block;
  padding: 30px 0 0 8vw;
  /* text-align: center; */
}
.banner-content h1 {
  font-size: 4vw;
}
.banner-image {
  width: auto;
  height: auto;
  /* background-color:; */
  display: inline-block;
  text-align: center;
}
.main-image1 {
  width: 40vw;
  height: auto;
  text-align: center;
  padding: 9vh 0;
  margin: 0px;
}
.banner-button {
  display: flex;
  gap: 1.4rem;
}
.banner-b1 {
  background-color: rgba(33, 150, 243, 1);
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  box-shadow: 0rem 2rem 4rem var(--color-light);
}
.banner-b2 {
  color: rgba(33, 150, 243, 1);
  background-color: white;
  border-radius: 10px;
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0rem 2rem 4rem var(--color-light);
}
.bannerspan {
  margin: 23px;
}
.investors {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.investor-logo {
  margin-top: 5vh;
  padding: 30px;
  width: 30px;
  display: inline;
}
.investor-logo > img {
  display: inline;
  margin-top: 5vh;
}
.banner-button {
  margin: 30px;
}
@media screen and (max-width: 650px) {
  .banner-content {
    width: 100%;
  }
  .banner-button {
    display: grid;
    gap: 1rem;
  }
  .banner-image img {
    width: 60%;
  }
  .main-image1 {
    width: 80vw;
    padding: 0;
    margin: 0;
  }
  .banner-landPage {
    display: grid;
    grid-template-columns: 1fr;
  }
  .carder {
    margin: 10px;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
}
